.App {
  text-align: center;
}

.swiper-container .swiper-slide {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.swiper-button-prev {
  color: #6b46c1 !important;
}

.swiper-button-next {
  color: #6b46c1 !important;
}

@media screen and (min-width: 1024px) {
  .swiper-container {
    width: 90%;
  }
}

@media screen and (min-width: 1440px) {
  .swiper-container {
    width: 65%;
  }
}
